*,
*::before,
*::after {
    font-family: 'Open Sans', sans-serif;
}

.card {
    background: white;
    padding: 1rem;
    border: 1px solid #777;
    border-radius: .25rem;
    overflow: hidden;
}

.card-header {
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.card-body {
    font-size: .9rem;
}

.card-footer {
    margin-top: 1rem;
}

.btn {
    --color: hsl(200, 50%, 50%);
    background: var(--color);
    color: white;
    border: none;
    font-size: 1rem;
    /* have padding scale with font size so use em rather than rem */
    /* em works better with buttons when you want to scale with font size */
    padding: .5em .75em;
    border-radius: .25em;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    background: hsl(200, 50%, 60%);
}

.btn.btn-outline {
    background: none;
    border: 1px solid var(--color);
    color: var(--color);
}

.btn.btn-outline:hover,
.btn.btn-outline:focus {
    background: hsl(200, 50%, 90%);
}

/*
 "+" is Adjacent Sibling Selector. 
 It selects all elements that are immediately following a specified element.
 Sibling elements must have the same parent element.
 https://levelup.gitconnected.com/understanding-use-of-the-and-symbols-in-css-selectors-95552eb436f5
*/
/*
Put some space on the left of this button is you have another button to the left of it
*/
.btn+.btn {
    margin-left: .25rem;
}